.side-padding
  %h2.is-size-2 Sign up

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    - if !resource.errors.empty?
      .notification.is-warning
        .content
          = devise_error_messages!

    .field
      = f.label :email, class: "label"
      .control
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "input"
      
    .field
      = f.label :password, class: "label"
      .control
        = f.password_field :password, autocomplete: "off", class: "input"
      - if @minimum_password_length
        %p.help= "(#{@minimum_password_length} characters minimum)"

    .field
      = f.label :password_confirmation, class: "label"
      .control
        = f.password_field :password_confirmation, autocomplete: "off", class: "input"

    = f.submit "Create account", class: "button is-fullwidth is-primary"
    %br/

    %p.label Do you already have an account?
    = link_to "Log in instead", new_user_session_path, class: "button"
