@import './variables';

.top-row-button {
  padding-top: 24px;
  padding-bottom: 24px;
  a {
    width: 100%;
  }
}

.side-padding {
  padding-left: 12px;
  padding-right: 12px;
}

.light-text {
  color: $white;
  &:hover { color: $off-white; }
}

.dark-text {
  color: invert($white);
  &:hover { color: invert($off-white); }
}