#home-page
  - if notice
    .notification.is-light
      %p#notice= notice

  - if alert
    .notification.is-warning
      %p#notice= alert

  %section#info
    %h1.title 
      %a= link_to "Info 🤔", info_path, class: "light-text"
    %p.subtitle find out what this site is about

  %section#games
    %h1.title 
      %a= link_to "Games 🎲", games_path, class: "light-text"
    %p.subtitle all of our games
      
  %section#movies
    %h1.title 
      %a= link_to "Movies 🎥", root_path, class: "light-text"
    %p.subtitle all of our movies