= form_with(model: game, local: true) do |f|
  .columns.is-desktop
    .column.is-4.is-offset-4
      .top-row-button
        = link_to "Go back to the games", games_path, class: "button"
        -# - if @game.id.nil?
        -#   = link_to "Go back to the games", games_path, class: "button"
        -# - else
        -#   = link_to "Go back to #{@game.title}", @game, class: "button"

      - if @game.errors.any?
        .notification.is-warning
          .content
            %p
              %span.has-text-weight-bold
                = @game.errors.count
                errors 
              prevented this game from saving
            %ul
              - @game.errors.full_messages.each do |msg|
                %li= msg
      .field
        = f.label :title, class: "label"
        .control
          = f.text_field :title, required: true, class: "input", type: "text"
      .field
        = f.label :players, class: "label"
        .control
          = f.text_field :players, required: true, class: "input", type: "text"
      .field
        = f.label :play_time, class: "label"
        .control
          = f.text_field :play_time, required: true, class: "input", type: "text"
      .field
        = f.label :difficulty, class: "label"
        .control
          = f.text_field :difficulty, required: true, class: "input", type: "text"
      .field
        = f.label :type_of_game, class: "label"
        .control
          = f.text_field :type_of_game, required: true, class: "input", type: "text"
      .field
        = f.label :category, class: "label"
        .control
          = f.text_field :category, required: true, class: "input", type: "text"
      .field
        = f.label :description, class: "label"
        .control
          = f.text_area :description, class: "textarea"
      .field.actions
        .control
          - if @game.id.nil?
            = f.submit "Add game", class: "button is-primary is-fullwidth", style: "margin-bottom: 10px;"
          - else
            = f.submit "Save changes", class: "button is-primary is-fullwidth", style: "margin-bottom: 10px;"