#games-page.side-padding
  
  .columns.is-mobile
    - if user_signed_in? && current_user.is_admin
      .column.is-6
        .top-row-button
          = link_to "Go back home", root_path, class: "button"
      .column.is-6
        .top-row-button
          = link_to "Add a new game", new_game_path, class: "button is-primary"
    - else
      .column.is-12
        .top-row-button
          = link_to "Go back home", root_path, class: "button"
    
  - if notice
    .notification.is-light
      %p#notice= notice
  - if alert
    .notification.is-warning
      %p#notice= alert
  
  %table.table.is-fullwidth
    %thead
      %tr
        %th Title
        %th Players
        %th Play time
        %th Difficulty
        %th Type of game
        %th Category
        - if user_signed_in? && current_user.is_admin?
          %th Edit
          %th Delete
    %tbody
      - @games.each do |game|
        %tr
          %td= game.title
          %td= game.players
          %td= game.play_time
          %td= game.difficulty
          %td= game.type_of_game
          %td= game.category
          - if user_signed_in? && current_user.is_admin?
            %td= link_to fa_icon("pencil-square-o"), edit_game_path(game), class: "button"
            %td= link_to fa_icon("trash"), game_path(game), method: :delete, data: { confirm: "Are you sure?" }, class: "button is-danger"
  
  %p.has-text-weight-bold= "Total games: #{@games.length}"