#games-page.side-padding
  .top-row-button
    = link_to "Go back to all games", games_path, class: "button"

  .columns
    .column.is-10
      %h1.title.has-text-weight-bold= @game.title
        
    - if user_signed_in? && current_user.is_admin
      .column.is-1.is-hidden-touch
        = link_to "Edit", edit_game_path(@game), class: "button is-fullwidth is-primary"

      .column.is-1.is-hidden-touch
        = link_to 'Delete', game_path, method: :delete, data: { confirm: "Are you sure?" }, class: "button is-fullwidth is-danger"

  .columns
    .column.is-12
      %p
        %strong Players:
        = @game.players

      %p
        %strong Play time:
        = @game.play_time

      %p
        %strong Difficulty:
        = @game.difficulty

      %p
        %strong Type of game:
        = @game.type_of_game

      %p
        %strong Category:
        = @game.category

      - if !@game.description.nil?
        %p
          %strong Description:
          = simple_format(@game.description, sanitize: false)
  %br/
  %br/
    
  - if user_signed_in? && current_user.is_admin
    .columns.is-mobile.is-hidden-desktop
      .column.is-6
        %p
          = link_to 'Edit', edit_game_path(@game), class: "button is-fullwidth is-primary"
          
      .column.is-6
        %p
          = link_to 'Delete', game_path, method: :delete, data: { confirm: "Are you sure?" }, class: "button is-fullwidth is-danger"
  %br/
