.side-padding
  %h2.is-size-2 Log in

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    - if alert
      .notification.is-warning
        %p#alert= alert
          
    .field
      = f.label :email, class: "label"
      .control
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "input"

    .field
      = f.label :password, class: "label"
      .control
        = f.password_field :password, autocomplete: "off", class: "input"

    - if devise_mapping.rememberable?
      .field
        .control
          %label.checkbox
            = f.check_box :remember_me
            = f.label :remember_me
    
    = f.submit "Log in", class: "button is-fullwidth is-info"
    %br/

    %p.label First timer?
    = link_to "Create a new account", new_user_registration_path, class: "button is-primary"