/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bulma';
@import 'font-awesome';

@import './helpers/variables';
@import './helpers/helpers';
@import './helpers/bulma_overrides';

@import './home';

// change 'a' to be dark no matter what
a {
  color: invert($white);
  &:hover { color: invert($off-white); }
}

#header {
  margin-top: 24px;
  hr {
    margin-bottom: 0;
  }
}