// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home-page {
  text-align: center;
  .title { color: $white; }
  .subtitle { color: $off-white; }
  section { padding: 24px 12px; }
  #info { background-color: #59525C; }
  #games { background-color: #415771; }
  #movies { background-color: #40698E; }
}