#info-page.side-padding
  .top-row-button
    = link_to "Go back home", root_path, class: "button"

  %h1.is-size-3.has-text-weight-bold Hey!

  %p 
    This site has a list of our games and movies in case you wanted to entertain yourself.  
    Hopefully you find it useful, I tried to make it useful. It'd be cool if you found this  
    site useful. If you found it useful, let me (Mike) or Devanne know.                      
  %br/
    
  %p 
    If you need help with anything, you can let
    %a(href="tel:+17244486183") Mike
    or
    %a(href="tel:+17249803173") Devanne
    know
