!!! 5
%html
  %head
    %title deloss 🏠
    = csrf_meta_tags
    = csp_meta_tag
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      #header.has-text-centered 
        %h1.title.has-text-weight-bold
          = link_to "deloss 🏠", root_path, class: "dark-text"
        %p.dark-text
          - if user_signed_in?
            %a= link_to "view profile", user_profile_path(current_user)
            |
            = link_to "sign out" , destroy_user_session_path, method: :delete
          - else
            %a= link_to "login 🔐", new_user_session_path
        %hr
      = yield
